.top .item:nth-child(4){
	background-color: var(--darkcolor);
	box-shadow: 5px 0 5px #CCCCCC;
}
#mid .item:nth-child(4) a{
	 color:var(--lightcolor);
}
/*----------------------------------------------*/
main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.notice{
	border-radius: 5px;
	margin-bottom: 25px;
	padding: 0 10px;
	width: 260px;
	box-shadow: 0 0 10px 2px #ccc;
	background-color: var(--lightcolor);
	height: 400px;
	line-height: 200%;
	overflow: hidden;
}
.notice p{
	padding: 0 5px;
}
.frontHead {
	float: left;
	margin-top: 5px;
	margin-left: -10px;
	width: 7px;
	height: 30px;
	background-color: var(--darkcolor);
}

.Head {
	line-height: 40px;
	font-size: 20px;
	padding-left: 20px;
	border-bottom: solid var(--linecolor) 1px;
}
.notice a{
	margin-left: 150px;
}
.notice i{
	padding: 0 5px;
}